@font-face{
  font-family: 'lilith';
  src: url('../fonts/lilith-regular.TTF');
}

@font-face {
  font-family: 'erato-light';
  src: url('../fonts/EratoLig.otf');
}

@font-face {
  font-family: 'indira';
  src: url('../fonts/indira_k.ttf');
}