:root{
  --color-spell-name: #004e6e;
  --color-spell-body: #ffffff;
  --padding-spell-body: 0 8px;
  /* --font-spell-body: 'Nanum Myeongjo', serif;; */
  /* --font-weigth-body: 800; */
}

.spells__list__item{
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* border-bottom: 1px solid rgb(194, 194, 194); */
  background-color: var(--color-spell-body);
  border-radius: 0 0 2px 2px;
  transition: var(--time-transaction);
}

.spells__list__item:last-child{
  border-bottom: none;
}

.spells__list__item * {
  font-size: var(--font-size);
}

.spell__name{
  /* font-family: var(--font-spell-body); */
  margin-left: 10px;
  margin-right: 25px;
  font-size: var(--font-size-name);
  color: var(--color-spell-name);
  font-weight: 400;
  padding: 8px 0;
  border-radius: 2px 2px 0 0;
}

.spell__author{
  /* padding-left: 10px; */
  margin-top: -15px;
  font-size: var(--font-size-author);
  font-weight: var(--font-weigth-body);
  padding-left: 18px;
}

.spell__author .author__title{
  font-size: var(--font-size-author);
  font-family: var(--font-spell-body);
  font-weight: var(--font-weigth-body);
}

.spell__info{
  display: flex;
  flex-direction: column;
  padding-left: 18px;
  gap: 4px;
  font-family: var(--font-spell-body);
  font-weight: var(--font-weigth-body);
}

.spell__description{
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: var(--padding-spell-body);
  font-family: var(--font-spell-body);
  font-weight: var(--font-weigth-body);
  font-size: var(--font-size);
}

.spell__description:last-child{
  margin-bottom: 8px;
}

.spell__description .others{
  text-indent: 10px;
  font-size: var(--font-size);
}

.spell__description .others__title{
  font-size: var(--font-size);
  font-weight: bold;
}

.description{
  text-indent: 10px;
  text-align: justify;
  font-family: var(--font-spell-body);
  font-weight: var(--font-weigth-body);
}

@media screen and (min-width: 768px) {
  
  .spells__list__item{
    padding: 8px;
  }

  .spell__name{
    font-size: 1.35rem;
  }

}