:root{
  --color-primary: #00415e;
  --color-primary-50: #e0e8ef;
  --color-secundary: #8098b2;
  --color-background-list: #ebf4f999;
  --color-background-filters--closed: rgba(194, 194, 194, 0.5);
  --color-text-filters-desktop: #435970;
  --max-width: 1780px;
  --width-filter-768: 200px;
  --width-filter-1024: 270px;
  --time-transaction: 250ms;
  --font-size: 1rem;
  --font-size-name: 1.15rem;
  --font-size-author: 0.8rem;
  --font-size-filters: 0.95rem;
  --border-radius-filter: 4px;
  --height-filters: 25px;
  --gap: 25px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body{
  min-width: 320px;
  position: relative;
  background: #c2d2d8;
}

/* header{
  width: 100%;
  height: 75px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-90deg, rgba(44,123,149,1) 0%, rgba(0,65,94,1) 100%);
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
} */

.main{
  position: relative;
  height: 100%;
  background-color: var(--color-background-list);
  display: flex;
  justify-content: center;
}

.spells{
  position: absolute;
  top: 65px;
  padding: 8px;
}

.spells__list{
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 32px;
}

.spells__list__item{
  position: relative;
}

.star{
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 8px;
  cursor: pointer;
}

.fav{
  color: orange;
}

.fav:hover{
  color: rgb(255, 200, 99);
}

.unfav{
  color: rgba(0, 64, 94, 0.15);
}

.unfav:hover{
  color: rgba(0, 64, 94, 0.45);
}

@media screen and (min-width: 425px) {
  
  

}

@media screen and (min-width: 768px) {

  /* header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    z-index: 5;
  } */

  .main{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
    max-width: var(--max-width);
  }

  .spells{
    margin-top: 65px;
    position: static;
    padding: 24px;
  }

  .spells__list{
    margin-right: 0;
  }
  
}

@media screen and (min-width: 1024px) {

  .spells{
    width: 100%;
    overflow-y: overlay;
  }

  .spells__list{
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin: 0;
    gap: 24px;

  }

  .spells__list__item{
    align-self: stretch;
    flex: 1 1 45%;
    max-width: 49%;
  }

}

@media screen and (min-width: 1440px) {
  
  .spells__list__item{
    flex: 1 1 30%;
    max-width: 32.4%;
  }
  
}

@media screen and (min-width: 1780px) {

}

.hidden{
  display: none;
}


