:root{
  --color-main: #004F6D;
  --color-background: #F9FAFB;
  --color-background-filters--closed: rgba(194, 194, 194, 0.5);
  --max-width: 1440px;
  --time-transaction: 250ms;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-width: 320px;
  position: relative;
}

header{
  width: 100%;
  height: 75px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-main);
  z-index: 5;
}

.header__internal{
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width);
}

.header__title{
  color: white;
  font-size: 1.25rem;
}

.main{
  position: relative;
  height: 100vh;
}

.filters{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 75px;
  z-index: 3;
}

.filters__background-aux{
  display: none;
  left: 0;
  background-color: var(--color-background-filters--closed);
}

.filters__list{
  max-width: 160px;
  display: none;
  right: 0;
  background-color: var(--color-background);
  transition: var(--time-transaction);
}

.filters--opened{
  display: unset;
  position: fixed;
  padding: 8px;
  width: 100%;
  height: 100vh;
  z-index: 4;
}

.disabled-scroll{
  overflow: hidden;
}

.filters__list-back-button{

}

.filters__list-item{
  display: flex;
  flex-direction: column;
  padding-top: 4px;
  padding-bottom: 4px;
  list-style-type: none;
}

.spells{
  position: absolute;
  top: 75px;
  padding: 8px;
}

.spells__list{

}

.spells__list__item{
  margin-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(194, 194, 194);
}

.spells__list__item:last-child{
  margin-top: 8px;
  padding-bottom: 8px;
  border-bottom: none;
}

.spells__list__item > *{
  margin-bottom: 4px;
}

.spell__name{
  color: var(--color-main);
}

.spell__author{
  text-indent: 10px;
  font-size: 0.65rem;
  font-weight: 400;
}

.spell__info{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.spell__info .info{
  font-size: 0.75rem;
}

.description, .reach{
  text-indent: 10px;
  text-align: justify;
  font-size: 0.85rem;
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {

  .main{
    display: flex;
    margin: 0 auto;
    max-width: var(--max-width);
  }

  .spells{
    margin-top: 75px;
    position: static;
  }

  .filters{
    order: 1;
    position: static;
  }

  .filters__background-aux{
    display: none;
  }
  
  .filters__list{
    order: 2;
    margin-top: 75px;
    max-width: 200px;
    display: unset;
    right: 0;
    background-color: var(--color-background);
    transition: var(--time-transaction);
  }

  .header__btnOpenMenu{
    display: none;
  }

}

@media screen and (min-width: 1024px) {
  
  .filters__list{
    max-width: 250px;
    display: unset;
    right: 0;
    background-color: var(--color-background);
    transition: var(--time-transaction);
  }

}


